@import '../base';

.formTitle {
    font-family: $secondaryFont;
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
}

.formLabel {
    font-family: $secondaryFont;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.stake {
    display: flex;
    align-items: center;
}

.possibleWin {
    font-family: $secondaryFont;
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
}
