// Colors
$color-1: #e9c207;
$color-2: #00aeef;
$color-3: #39b54a;
$color-4: #7e57c2;

$whitish: #eee;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap');

$primaryFont: 'Josefin Sans', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
$secondaryFont: 'Vampiro One', cursive;
